
.whyUs{
    margin-top: 3rem;
    padding: 2rem 1rem;
    background-color: var(--veryLightGray);
    text-align: center;

    h2{
        font-weight: 400;
        color: var(--darkBlue);
    }
    p{
        color: var(--grayisBlue);
        font-size: 16px;
    }
}

.reasons{
    margin-top: 3rem;

    .reason{
        margin-bottom: 2rem;

        h2{
            font-size: 22px;
        }
    }
}