
.whyUs{
    margin-top: 3rem;
    padding: 2rem 1rem;
    background-color: var(--lightGrayisBlue);
    text-align: center;

    h2{
        font-weight: 400;
        color: var(--darkBlue);
    }
    p{
        color: var(--grayisBlue);
        font-size: 16px;
    }
}

.reasons{
    margin-top: 3rem;

    .reason{
        margin-bottom: 2rem;

        h2{
            font-size: 22px;
        }
    }
}

@media (min-width: 1200px) {
    .reasons{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2rem;
        font-size: 3rem;
    }

    .reason{
        img{
            display: flex;
            align-items: flex-start;
        }
    }
    .whyUs{
        h2, p{
            text-align: start;
        }

        font-size: 2rem;
        padding: 5rem 1rem;
        z-index: -2;
        position: relative;
    }
}