
.whyUs{
    margin-top: 3rem;
    padding: 2rem 1rem;
    background-color: var(--veryLightGray);
    text-align: center;

    h2{
        font-weight: 400;
        color: var(--darkBlue);
    }
    p{
        color: var(--grayisBlue);
    }
}