:root{
    --darkBlue: #2D314D;
    --limeGreen:#30D35C;
    --brigthCyan: #2AB6D9;

    /* Neutral colors */

    --grayisBlue: hsl(233, 8%, 62%);
    --lightGrayisBlue:  hsl(220, 16%, 96%);
    --veryLightGray: hsl(0, 0%, 98%);
    --white: #fff;
}

body{
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

#root{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 85%;
    margin: 0 auto;
}

.btn-principal{
    background: rgb(48,211,92);
    background: linear-gradient(90deg, rgba(48,211,92,1) 12%, rgba(42,182,217,1) 71%);
    border: none;
    color: white;
    padding: 0.8rem 1.7rem;
    width: 60%;
    font-weight: 700;
    border-radius: 24px;font-size: 0.9rem;
}